<p>
During my programmer's career I took a part in many projects and created many applications,
but there are several projects wothly to mention:
</p>
<ul>
<li><a href="/projects/magnet_big_archive">Magnet Platform and DMS "Big Archive"</a> [<b>Java, Ant, SQL, JSP, Lucene</b>]</li>
<li><a href="/projects/glr_parser">GLR parser to extract structured data from text in natural language</a>  [<b>Java, Spring, NLP</b>]</li>
<li><a href="/projects/story_line2">My side-project "StoryLine 2" (news aggregator)</a> [<b>Java, Scala, Kafka, Akka, Gradle, Apache Spark, Apache Storm, No-SQL Spring, REST, Android</b>]</li>
</ul>
