<p>
    During my career I have participated in many projects and created many applications,
    but there are several projects worth mentioning:
</p>
<ul>
    <li><a href="https://fedor-malyshkin.github.io/story_line2_build/">My side-project "StoryLine 2" (news
        aggregator)</a> [<b>Java, Scala, Kafka, Akka, Gradle, Apache Spark, Apache Storm, No-SQL Spring, REST,
        Android</b>]
    </li>
    <li>System for client data processing in Russian's biggest bank (Sberbank) [<b>Java 8, Spring Boot, Spring
        Integration, WAS (AS, MQ), RxJava 2, Oracle, Kafka, Hadoop, Maven, TestNG, DBUnit</b>]
    </li>
    <li>Backend part of online broker's exchange platform [<b>Scala 2.12, Akka, Akka Stream, Akka Http, Monix,
        PostgreSQL, ScalaTest</b>]
    </li>
    <li><a href="/projects">GLR parser to extract structured data from text in natural language</a> [<b>Java, Spring,
        NLP</b>]
    </li>
    <li><a href="/projects">Magnet Platform and DMS "Big Archive"</a> [<b>Java, Ant, SQL, JSP, Lucene</b>]</li>
</ul>
