<p>
Hi, my name is Fedor. I am a seasoned developer whose experience has been mostly concentrated around Java and its ecosystem. I started with Java 1.4 and now work with Java 11 (and now 'm playing with 15). However, to have only one tool, it's not a decent idea. So I've added Scala and Python in my toolbox and was fascinated by how these tools stand out in some areas compared to Java.
</p>
<p>
I'm a big fan of cloud computing, TDD, CI, and various automation in the development process. My current interests in development are data streaming and functional programming.
</p>
<p>
The thing that could highlight me, among others, is my ability to study new things and "technical full-stack"' ish. When I'm saying "technical full-stack",  I mean the ability to track the cause of a problem through the whole stack: from a user browser -> through network communication (whatever it is REST/WebSocket) → to service inside → and to a database / or other chains of services. And, of course, to set up a whole staging/development/production environment on my own.
</p>
<p>
And, yes, by the way - when I have some time, I publish  articles  <a href="https://fedor-malyshkin.medium.com/">on "Medium"</a>.
</p>