<p>
I am a software developer with broad experience not only in software development but also in supporting production system, who tries to understand and combine the needs of developers and engineers.
For getting this experience, I have been working as a software developer and as an engineer.
    In 2015, I decided to start
    <a href="https://fedor-malyshkin.github.io/story_line2_build/">my side-project</a>, which I was doing in my spare time. In this project, I was trying to combine the needs of developers and engineers – so I used there
the best development practices (like test-development, continuous integration, event-based workflows and so on)
and engineering practices (containerization, auto-provisioning and monitoring).
</p>

<p>Most of the time, I am working with Java, but I'm interested in Scala as well and have decided to add it to my stack. Therefore,
I am very interested in projects where I can improve this skill.
</p>

<p>
I have been working a lot with relational and non-relational databases, message brokers, build systems, version control systems. Of course, I use testing and code-review in my work.
</p>
