<footer class="footer" role="contentinfo" aria-label="Site footer">
    <div class="socials"  role="navigation" aria-label="Social links">
        <ul role="menu" aria-hidden="true" aria-label="Social link">
            <li role="listitem" aria-label="GitHub profile link item"><a href="{{ site.github_link }}" target="_blank" role="link" aria-label="GitHub"  title="GitHub's Profile"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li role="listitem" aria-label="Social link item"><a href="{{ site.linkedin_link }}" target="_blank" role="link" aria-label="Linkedin"  title="LinkedIn's Profile"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li role="listitem"><a href="{{ '/feed.xml' | relative_url }}" role="link" aria-label="RSS"><i class="fa fa-rss-square" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="copyright" role="contentinfo">
        <p></p>
        <div class="right">
            <a href="{{ '/sitemap.xml' | relative_url }}" target="_blank" role="link" aria-label="Site map">Site Map</a>
        </div>
    </div>
</footer>
