<p>Nowadays you cannot be only programmer with one or several programming languages - you have to know a lot of other things to get better results or products.</p>
<p>And of course I also have experience in some popular technologies, programming languages and other areas:</p>
<ul>
<li><a href="/technologies#langs">Programming languages:</a> Java, Scala, R</li>
<li><a href="/technologies#vcs">Version control systems:</a> Svn, Git, BitBucker</li>
<li><a href="/technologies#build_systems">Build systems:</a> Gradlem, Maven, Ant</li>
<li><a href="/technologies#ci">Continuous integration systems/serves:</a> Hudson, Jenkins, TeamCity</li>
<li><a href="/technologies#tsdb">Systems of statistics collection (TSDB) and presentation (dashboards):</a> InfluxDB, Grafana</li>
<li><a href="/technologies#scm">System configuration management:</a> Puppet</li>
<li><a href="/technologies#ml_stat">Macnile learning and statistics:</a> data analysis, machine learning (clustering, classification, linear regression), data visualization tools</li>
</ul>
