<p>Nowadays you cannot be only a software developer with one or several programming languages - you have to know a lot of other things to get better results or products.</p>
<p>And of course I also have experience in some popular technologies, programming languages and other areas:</p>
<ul>
<li><b>Programming languages:</b> Java, Scala, R</li>
<li><b>Version control systems:</b> Svn, Git, BitBucket</li>
<li><b>Build systems:</b> Gradle, Maven, Ant</li>
<li><b>Databases:</b> SQL, NoSQL (MySQL, PostgreSQL, MSSQL, Oracle, MongoDB)</li>
<li><b>Continuous integration systems/services:</b> Hudson, Jenkins, TeamCity</li>
<li><b>Distributed systems:</b> Apache Storm, Apache Spark, Apache Hadoop</li>
<li><b>Systems of statistics collection (TSDB) and presentation (dashboards):</b> InfluxDB, Grafana</li>
<li><b>System configuration management:</b> Puppet</li>
<li><b>Machine learning and statistics:</b> data analysis, machine learning (clustering, classification, linear regression), data visualization tools</li>
</ul>
