<p>
Nowadays, you can't just be a software developer with the only knowledge of one or two programming languages - you have to know a lot of other things to get a better result or a better product.
</p>
<p>
And of course, I have experience in some popular technologies, programming languages, and other areas:
</p>
<ul>
<li><b>Programming languages:</b> Java, Scala, Groovy, Python, R</li>
<li><b>Version control systems:</b> Git, BitBucket, GitLab, GitHub</li>
<li><b>Build systems:</b> Gradle, Maven, Ant</li>
<li><b>Databases:</b> relational and NoSQL (Oracle, PostgreSQL, MSSQL, MySQL, MongoDB)</li>
<li><b>Testing frameworks:</b> TestNG, JUnit, AssertJ, DBUnit, REST Assured, ScalaTest</li>
<li><b>Continuous integration systems/services:</b> Jenkins, TeamCity, Git Actions</li>
<li><b>Distributed systems:</b> Apache Storm, Apache Spark, Apache Hadoop</li>
<li><b>Systems of statistics collection (TSDB) and presentation (dashboards):</b> InfluxDB, Grafana</li>
<li><b>System configuration management:</b> Puppet, Ansible</li>
<li><b>Containerization, orchestration and cloud computing:</b> Docker, Kubernetes, AWS</li>
<li><b>Machine learning and statistics:</b> data analysis, machine learning (clustering, classification, linear regression), data visualization tools</li>
</ul>
