<p>
Any more-or-less worthwhile solution/project requires some technologies (not always cutting-edge, in fact), so I'm always trying to study and test in practice technologies that I've found helpful (but sometimes as  fancy ones only):</p>
</p>


<ul>
<li><b>Programming languages:</b> Java, Scala, Python, Groovy, R</li>
<li><b>Version control systems (and their providers):</b> Git, BitBucket, GitLab, GitHub</li>
<li><b>Build systems:</b> Gradle, Maven, Ant</li>
<li><b>Databases:</b> relational and NoSQL (Oracle, PostgreSQL, MSSQL, MySQL, MongoDB)</li>
<li><b>Testing frameworks:</b> TestNG, JUnit, AssertJ, DBUnit, REST Assured, ScalaTest</li>
<li><b>Continuous integration systems/services:</b> Jenkins, TeamCity, Git Actions</li>
<li><b>Distributed systems:</b> Apache Spark, Apache Storm, Apache Hadoop</li>
<li><b>Systems of statistics collection (TSDB) and presentation (dashboards):</b> InfluxDB, Grafana</li>
<li><b>System configuration management:</b> Puppet, Ansible</li>
<li><b>Containerization, orchestration and cloud computing:</b> Docker, Kubernetes, AWS</li>
</ul>
