---
layout: default
title: Fedor Malyshkin’s Portfolio
---
<article class="home" role="article">
    <section class="landing" role="document">
        <h1 class="title" role="presentation">Fedor Malyshkin</h1>
        <p class="subtitle">Java/Scala backend developer</p>
    </section>
    <section class="description" role="document">
        <a href="details"><h2 role="presentation">About me</h2></a>
        <p>{% include details/home_description.html %}</p>
    </section>
    <section class="description" role="document">
        <a href="projects"><h2 role="presentation">Projects</h2></a>
        <p>{% include projects/home_description.html %}</p>
    </section>
    <section class="description" role="document">
        <a href="technologies"><h2 role="presentation">Technologies/Stack</h2></a>
        <p>{% include technologies/home_description.html %}</p>
    </section>
    <section class="description" role="document">
        <h2 role="presentation">Contacts</h2>
        <p>{% include details/contacts.html %}</p>
    </section>

</article>
