<div class="contacts" aria-label="Contacts">
    <ul role="menu" aria-hidden="true" aria-label="Contacts">
        <li role="listitem" aria-label="Social link item"><a href="{{ site.telegram_link }}" target="_blank" role="link" aria-label="Telegram" ><i class="fa fa-telegram" aria-hidden="true">{{ site.telegram_user }}</i></a></li>
        <li role="listitem" aria-label="Social link item"><a href="mailto:{{ site.contact_email }}" target="_blank" role="link" aria-label="Email"><i class="fa fa-envelope-square" aria-hidden="true">{{ site.contact_email }}</i></a></li>
        <li role="listitem" aria-label="Social link item"><a href="{{ site.linkedin_link }}" target="_blank" role="link" aria-label="Linkedin"  title="LinkedIn's Profile"><i class="fa fa-linkedin-square" aria-hidden="true">{{ site.linkedin_link }}</i></a></li>
    </ul>
</div>
